
.searchForm{
  background-color: #e485c7;
  margin: 40px auto;
}
.searchForm input::placeholder{
  color: black;
}
.searchForm button{
  border: 0;
  background-color:rgba(202, 156, 24, 1); 
  cursor: pointer;
}
.searchForm button:focus{
  outline: none;
}
.searchForm input{
  border: 0; 
  color: black;
  padding: 0 20px;
  font-size: 18px;
 
}
.Userlist{
  min-height:500px;
  width: 400px;
  margin: 0px auto;
}
